*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #07284e;
    color: white;
    height: 5rem;
    line-height: 5rem;
   
}
.choice{
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover{
   cursor: pointer;
   background-color: rgb(0, 0, 0);
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 2rem;
 margin-top: 3rem;
 gap: 5rem;
}
#user-score,
#computer-score{
    font: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-top: 6rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}
